.footer{
    background: #F9FAFC;
    padding-top: 45px;
    &__top{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
        padding-bottom: 60px;
        border-bottom: 1px solid #D9E0E7;
        margin-bottom: 30px;
        @include breakpoint(xs){
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding-bottom: 30px;
        }
        @include breakpoint(only-ipad){
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
        &__colunm{
            @include breakpoint(xs){
                margin-bottom: 20px;
            }
            h4{
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: -0.5px;
                margin-bottom: 28px;
            }
            li{
                a{
                    font-size: 14px;
                    opacity: 0.8;
                    color: #02073E;
                    line-height: 250%;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        @include breakpoint(max-md){
            flex-direction: column;
            justify-content: center;
            padding-bottom: 40px;
        }
        &__left{
            text-align: center;
            @include breakpoint(lg){
                display: flex;
                align-items: center;
            }
            a{
                display: block;
                margin-right: 10px;
            }
            span{
                font-size: 14px;
                line-height: 18px;
                opacity: 0.6;
            }
        }
        &__right{
            display: flex;
            align-items: center;
            @include breakpoint(max-md){
                justify-content: center;
                margin-top: 10px;
            }
            li{
                & + li{
                    margin-left: 30px;
                    @include breakpoint(xs){
                        margin-left: 10px;
                    }
                }
                a{
                    font-size: 15px;
                    color: #02073E;
                    transition: 0.3s;
                    @include breakpoint(xs){
                        font-size: 14px;
                    }
                    &:hover{
                        text-decoration: none;
                        color: #00A99D;
                    }
                }
            }
        }
    }
}